# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
vendor

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
keyauthd
main
log/
.idea/


.DS_Store
keyauth.env
keyauth.toml
ldap.env
keyauth
dist/*

ip2region.db
